/* Librerias externas */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
/* Variables*/
/* Declare any of these variables before importing this SCSS file to easily override defaults*/
/* Variables are namespaced with the pd (pikaday) prefix*/
/* Colours*/
/* Font*/
.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.pika-single.is-hidden {
    display: none;
}
.pika-single.is-bound {
    position: absolute;
    -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}
/* clear child float (pika-lendar), using the famous micro clearfix hack*/
/* http://nicolasgallagher.com/micro-clearfix-hack/*/
.pika-single {
    *zoom: 1
}
.pika-single:before, .pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after {
    clear: both
}
.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}
.pika-title {
    position: relative;
    text-align: center;
}
.pika-title select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: 0;
        left: 0;
        top: 5px;
        filter: alpha(opacity=0);
        opacity: 0;
    }
.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
}
.pika-prev, .pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px; /* hide text using text-indent trick, using width value (it's enough)*/
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0
}
.pika-prev:hover, .pika-next:hover {
    opacity: 1;
}
.pika-prev.is-disabled, .pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}
.pika-prev, .is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}
.pika-next, .is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}
.pika-select {
    display: inline-block;
    *display: inline;
}
.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
.pika-table th, .pika-table td {
        width: 14.285714285714286%;
        padding: 0;
    }
.pika-table th {
        color: #999;
        font-size: 12px;
        line-height: 25px;
        font-weight: bold;
        text-align: center;
    }
.pika-table abbr {
        border-bottom: none;
        cursor: help;
    }
.pika-button {
    cursor: pointer;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}
.is-today .pika-button {
        color: #33aaff;
        font-weight: bold;
    }
.is-selected .pika-button {
        color: #fff;
        font-weight: bold;
        background: #33aaff;
        -webkit-box-shadow: inset 0 1px 3px #178fe5;
                box-shadow: inset 0 1px 3px #178fe5;
        border-radius: 3px;
    }
.is-disabled .pika-button, .is-outside-current-month .pika-button {        
        color: #999;
        opacity: .3;
    }
.is-disabled .pika-button {
        pointer-events: none;
        cursor: default;
    }
.pika-button:hover {
    color: #fff;
    background: #ff8000;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 3px;
}
.pika-button .is-selection-disabled {
        pointer-events: none;
        cursor: default;
}
.pika-week {
    font-size: 11px;
    color: #999;
}
.is-inrange .pika-button {
    background: #D5E9F7;
}
.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 3px;
}
.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 3px;
}
/* Global */
:root {

  /* formularios */
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: #fdfdfd;
  font: 400 16px/1.5 'Arial', sans-serif;
  font: 400 1rem/1.5 'Arial', sans-serif;
  margin: 0 auto 64px;
  margin: 0 auto 4rem;
  max-width: 430px;
  padding: 48px 0 0;
  padding: 3rem 0 0;
}
pre {
  white-space: normal;
}
a {
  text-decoration: none;
}
form fieldset {
    border: 0;
    padding: 0;
    position: relative;
    margin-bottom: 16px;
    margin-bottom: 1rem
}
form fieldset:last-child {
    margin-bottom: 0;
}
form section .legend {
    display: inline-block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0px 0 20px;
    width: 100%;
}
form label {
    background-color: #fff;
    color: #484848;
    left: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all linear 125ms;
    transition: all linear 125ms;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none
}
form label:first-letter {
    text-transform: uppercase;
}
form input[type=text], form select {
    font: 400 16px/19px 'Arial', sans-serif;
    font: 400 1rem/19px 'Arial', sans-serif;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #484848;
    outline: none;
    padding: 10px 10px 6px;
    width: 100%
}
form input[type=text]:disabled, form select:disabled {
    color: rgb(134, 134, 134);
}
form input[type=text]:focus, form select:focus {
    -webkit-box-shadow: 0px 0px 2px 1px #c0d3e0;
            box-shadow: 0px 0px 2px 1px #c0d3e0;
}
form input[type=text]:valid + label, form input[type=text]:disabled + label, form input[type=text]:focus + label, form select:valid + label, form select:disabled + label, form select:focus + label {
    font-size: 12px;
    top: 0;
}
form input[type=text]:disabled + label, form select:disabled + label {
    color: rgb(134, 134, 134);
}
form button, form input[type=submit] {
    background-color: #FF5A5F;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    min-width: 160px;
    min-width: 10rem;
    padding: 12px 8px;
    text-align: center
}
form button:disabled, form input[type=submit]:disabled {
    background-color: rgb(255, 140, 144)
}
form .footer {
    text-align: right;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.one {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.one-half {
  width: calc(50% - 8px);
  -ms-flex-preferred-size: calc(50% - 8px);
      flex-basis: calc(50% - 8px);
}
header#header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background:#FF5A5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  height: 2.5rem;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%
}
header#header a {
    color: #fff;
    font-weight: bold;
}
/* Pages */
html.home section.disponibilidad {
    border-radius: 3px;
    margin-bottom: 48px;
    margin-bottom: 3rem;
}
html.home section.habitaciones {
    margin-bottom: 3px
}
html.home section.habitaciones label {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #484848;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    left: 0;
    outline: none;
    padding: 10px;
    position: relative;
    top: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html.home section.habitaciones input[type="radio"] {
    position: absolute;
    width: auto;
    width: initial;
}
html.home section.habitaciones input[type="radio"]:checked + label {
    background: #008489;
    border-color: #008489;
    color: #fff;
    color: #fff;
}
html.home section.huespedes {
    counter-reset: section
}
html.home section.huespedes .huesped {
    position: relative;
    margin-bottom: 30px;
}
html.home section.huespedes .huesped .counter {
        font-size: 14px;
        font-weight: 700;
        padding: 8px 0;
        position: absolute;
        right: calc(100% + 14px)
}
html.home section.huespedes .huesped .counter:before {
    counter-increment: section;
    content: counter(section);
}
