*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: #fff;
  font: 400 1rem/1.5 'Arial', sans-serif;
  margin: 0 auto 4rem;
  max-width: 430px;
}
pre {
  white-space: normal;
}
