*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: #fdfdfd;
  font: 400 1rem/1.5 'Arial', sans-serif;
  margin: 0 auto 4rem;
  max-width: 430px;
  padding: 3rem 0 0;
}
pre {
  white-space: normal;
}
a {
  text-decoration: none;
  color: var(--brand-color);
}
.right {
  text-align: right;
}
