{{!< layout}}

<article>
  <div id="app"></div>

  {{!-- <form>
    <section class='huespedes'>
      <b class='one legend'>Informacion de los huespedes</b>
      <div class="huesped flex">
        <span class="counter"></span>
        <fieldset class='one-half'>
          <input type='text' id='nombres' required />
          <label for='nombres'>nombres</label>
        </fieldset>
        <fieldset class='one-half'>
          <input type='text' id='apellidos' required />
          <label for='apellidos'>apellidos</label>
        </fieldset>
        <fieldset class="one">
          <select id='numero-document' required>
            <option value="" selected disabled></option>
            <option value="cedula">cedula de ciudadania</option>
            <option value="pasaporte">pasaporte</option>
            <option value="tarjeta">tarjeta de identidad</option>
          </select>
          <label for="numero-documento">tipo de documento</label>
        </fieldset>
        <fieldset class="one">
          <input type="text" id='tipo-document' required>
          <label for="tipo-documento">numero de documento</label>
        </fieldset>
      </div>
      <div class="huesped flex">
        <span class="counter"></span>
        <fieldset class='one-half'>
          <input type='text' id='nombres' required />
          <label for='nombres'>nombres</label>
        </fieldset>
        <fieldset class='one-half'>
          <input type='text' id='apellidos' required />
          <label for='apellidos'>apellidos</label>
        </fieldset>
        <fieldset class="one">
          <select id='numero-document' required>
            <option value="" selected disabled></option>
            <option value="cedula">cedula de ciudadania</option>
            <option value="pasaporte">pasaporte</option>
            <option value="tarjeta">tarjeta de identidad</option>
          </select>
          <label for="numero-documento">tipo de documento</label>
        </fieldset>
        <fieldset class="one">
          <input type="text" id='tipo-document' required>
          <label for="tipo-documento">numero de documento</label>
        </fieldset>
      </div>
      <div class="huesped flex">
        <span class="counter"></span>
        <fieldset class='one-half'>
          <input type='text' id='nombres' required />
          <label for='nombres'>nombres</label>
        </fieldset>
        <fieldset class='one-half'>
          <input type='text' id='apellidos' required />
          <label for='apellidos'>apellidos</label>
        </fieldset>
        <fieldset class="one">
          <select id='numero-document' required>
            <option value="" selected disabled></option>
            <option value="cedula">cedula de ciudadania</option>
            <option value="pasaporte">pasaporte</option>
            <option value="tarjeta">tarjeta de identidad</option>
          </select>
          <label for="numero-documento">tipo de documento</label>
        </fieldset>
        <fieldset class="one">
          <input type="text" id='tipo-document' required>
          <label for="tipo-documento">numero de documento</label>
        </fieldset>
      </div>
    </section>
    <section class="footer">
      <button>Reserva habitación</button>
    </section>
  </form> --}}
</article>
