html.home {
  & section.disponibilidad {
    border-radius: 3px;
    margin-bottom: 3rem;
  }
  & section.habitaciones {
    margin-bottom: 3px;
    & fieldset {
      &.preferencial label {
        color: #5c7dff;
      }
      &.suite label {
        color: #ff5c5e;
      }
    }
    & label {
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      color: var(--input-text-color);
      display: inline-block;
      font-size: 1rem;
      left: 0;
      outline: none;
      padding: 10px;
      position: relative;
      top: 0;
      transition: none;
      transform: none;
      text-align: center;
      user-select: none;
    }
    & input[type="radio"] {
      position: absolute;
      width: initial;
    }
    & input[type="radio"]:checked + label {
      border-color: currentColor;
    }
    & span {
      position: absolute;
      top: -8px;
      font-size: 10px;
      left: 10px;
      background: #fff;
      display: inline-block;
    }
  }
  & section.huespedes {
    counter-reset: section;
    margin-bottom: 3px;
    & .huesped {
      position: relative;
      margin-bottom: 30px;
      .counter{
        font-size: 14px;
        font-weight: 700;
        padding: 8px 0;
        position: absolute;
        right: calc(100% + 14px);
        &:before {
          counter-increment: section;
          content: counter(section);
        }
      }
    }
  }
  & section.precio-reserva {
    background: #fff;
    padding: 0.5rem 0;
    z-index: 99;
    font-size: 80%;
    text-align: center;
  }
}
