html.home {
  & section.disponibilidad {
    border-radius: 3px;
    margin-bottom: 3rem;
  }
  & section.habitaciones {
    margin-bottom: 3px;
    & label {
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      color: var(--input-text-color);
      display: inline-block;
      font-size: 1rem;
      left: 0;
      outline: none;
      padding: 10px;
      position: relative;
      top: 0;
      transition: none;
      transform: none;
      text-align: center;
      user-select: none;
    }
    & input[type="radio"] {
      position: absolute;
      width: initial;
    }
    & input[type="radio"]:checked + label {
      background: #008489;
      border-color: #008489;
      color: var(--white, #fff);
    }
  }
  & section.huespedes {
    counter-reset: section;
    & .huesped {
      position: relative;
      margin-bottom: 30px;
      .counter{
        font-size: 14px;
        font-weight: 700;
        padding: 8px 0;
        position: absolute;
        right: calc(100% + 14px);
        &:before {
          counter-increment: section;
          content: counter(section);
        }
      }
    }
  }
}
